<div class="side_header">
  <div class="side_header_name">
    <a href="#">Tom</a>
  </div>
  <div class="chat_create_button">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_menu">
  <div class="side_menu_chatroom">
    <a href="#">techroom1</a>
  </div>
  <div class="side_menu_chatroom">
    <a href="#">techroom2</a>
  </div>

</div>