.wrapper {
  display: flex;
}

/*****************************
サイドバー
*****************************/

.side_wrapper {
  width: 300px;
  height: 100vh;
}

.side_header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side_header_name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat_create_button a {
  color: deepskyblue;
  font-size: 10px;
  border: solid 1px lightblue;
  padding: 14px;
  text-decoration: none;
}

.side_menu {
  height: calc(100% - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll
}

.side_menu_chatroom {
  padding: 20px 0 40px 0;
}

.side_menu_chatroom a {
  color: white;
  text-decoration: none;
}


/*****************************
メッセージエリア
*****************************/

.message_wrapper {
  width: calc(100vw - 300px);
  height: 100vh;
}

.message_header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.message_main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.message_input {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}
